*{
    margin : 0;
    padding : 0;
    box-sizing : border-box; 
}
body{
    background-color: white;
    font-size : 20px;
}

.testo-card{
    padding : 5px 0;
    
}

.container{
    max-width: 1300px;
    margin : 0 auto;

}

.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap : wrap;
}

.space-between{
    justify-content: space-between;
}

.card{
    background-color: black;
    display: flex;
}